.quiz-results-container {
  background-color: var(--bs-gray-dark);
  padding: 10px 2px;
}

.header, .content {
  background-color: var(--bs-dark);
  padding: 10px 20px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
