.question-container {
    background-color: var(--bs-gray-dark);
    padding: 10px 2px;
}

h2 {
    background-color: var(--bs-dark);
    padding: 0;
    margin: 0;
}

.answer {
    width: 95%;
}

.btn {
    font-size: 1.25em;
}
