<div class="container text-start col-xxl-4 mt-5" id="form">
  <h1 class="text-danger text-center">Zapisz się już teraz</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label class="form-label" for="firstName">Imię uczestnika</label>
      <input
        [(ngModel)]="formData.firstName"
        [ngClass]="firstNameValid()"
        class="form-control"
        id="firstName"
        name="firstName"
        required
        type="text"
      >
    </div>
    <div class="col-md-6">
      <label class="form-label" for="lastName">Nazwisko uczestnika</label>
      <input
        [(ngModel)]="formData.lastName"
        [ngClass]="lastNameValid()"
        class="form-control"
        id="lastName"
        name="lastName"
        required
        type="text"
      >
    </div>
    <div class="col-12">
      <label class="form-label" for="email">Email kontaktowy</label>
      <input
        [(ngModel)]="formData.email"
        [ngClass]="emailValid()"
        class="form-control"
        id="email"
        name="email"
        required
        type="email"
      >
    </div>
    <div class="col-12">
      <label class="form-label" for="phone">Telefon kontaktowy</label>
      <input
        [(ngModel)]="formData.phone"
        [ngClass]="numberValid()"
        class="form-control"
        id="phone"
        name="phone"
        required
        type="text"
      >
    </div>
    <div class="col-5 text-center mx-auto">
      <button class="btn btn-danger w-100 p-2" id="button" type="submit">Zapisz się</button>
    </div>
  </form>
</div>
