<div class="container text-start col-12 col-md-5 mt-5">
  <h1 class="text-center">Zapisz się już teraz</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label class="form-label" for="firstName">Imię uczestnika</label>
      <input
          (input)="validate('firstName')"
          [(ngModel)]="formData.firstName.value"
          [class.is-invalid]="formData.firstName.valid === validationState.invalid"
          [class.is-valid]="formData.firstName.valid === validationState.valid"
          class="form-control"
          id="firstName"
          name="firstName"
          required
          type="text"
      >
      <div *ngIf="formData.firstName.valid === validationState.invalid" class="error-messages">
        <div *ngFor="let validation of formData.firstName.validation">
          <small *ngIf="validation.state === validationState.invalid" class="text-danger">
            {{ validation.errorMessage }}
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="lastName">Nazwisko uczestnika</label>
      <input
          (input)="validate('lastName')"
          [(ngModel)]="formData.lastName.value"
          [class.is-invalid]="formData.lastName.valid === validationState.invalid"
          [class.is-valid]="formData.lastName.valid === validationState.valid"
          class="form-control"
          id="lastName"
          name="lastName"
          required
          type="text"
      >
      <div *ngIf="formData.lastName.valid === validationState.invalid" class="error-messages">
        <div *ngFor="let validation of formData.lastName.validation">
          <small *ngIf="validation.state === validationState.invalid" class="text-danger">
            {{ validation.errorMessage }}
          </small>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label class="form-label" for="email">Email kontaktowy</label>
      <input
          (input)="validate('email')"
          [(ngModel)]="formData.email.value"
          [class.is-invalid]="formData.email.valid === validationState.invalid"
          [class.is-valid]="formData.email.valid === validationState.valid"
          class="form-control"
          id="email"
          name="email"
          required
          type="email"
      >
      <div *ngIf="formData.email.valid === validationState.invalid" class="error-messages">
        <div *ngFor="let validation of formData.email.validation">
          <small *ngIf="validation.state === validationState.invalid" class="text-danger">
            {{ validation.errorMessage }}
          </small>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label class="form-label" for="phone">Telefon kontaktowy</label>
      <input
          (input)="validate('phone')"
          [(ngModel)]="formData.phone.value"
          [class.is-invalid]="formData.phone.valid === validationState.invalid"
          [class.is-valid]="formData.phone.valid === validationState.valid"
          autocomplete="off"
          class="form-control"
          id="phone"
          name="phone"
          required
          type="text"
      >
      <div *ngIf="formData.phone.valid === validationState.invalid" class="error-messages">
        <div *ngFor="let validation of formData.phone.validation">
          <small *ngIf="validation.state === validationState.invalid" class="text-danger">
            {{ validation.errorMessage }}
          </small>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="col-8 col-md-5 mx-auto">
        <button
            (click)="onClickHandler()"
            [class.disabled]="loading"
            class="btn btn-danger w-100 p-2 bgcolor-red"
            id="button"
            type="submit"
        >
          <span *ngIf="loading" aria-hidden="true" class="spinner-border spinner-border-sm mr-5" role="status"></span>
          <span *ngIf="!loading">Zapisz się</span>
        </button>
      </div>
      <div *ngIf="createUserErr === validationState.valid" class="mt-3">
        <span class="message text-success fw-bold">
          Uczestnik został poprawnie zapisany na TIKTOKER CAMP!
        </span>
      </div>
      <div *ngIf="createUserErr === validationState.invalid" class="mt-3">
        <span class="message text-warning fw-bold">
          Znaleźliśmy już takiego uczestnika w naszej bazie!
        </span>
      </div>
    </div>
  </form>
</div>
