<div class="container">
  <div class="col-12 col-xxl-8 mx-auto">
    <h1>FAQ</h1>
    <div class="question mb-4">
      <h3>
        Czy dziecko może zabrać na obóz telefon komórkowy i inny sprzęt elektroniczny?
      </h3>
      <p>
        Dziecko może mieć telefon komórkowy, ale warto je uprzedzić przed obozem, że nie będzie mogło z niego korzystać
        w każdej chwili. Wychowawcy dbają o to, żeby dzieci aktywnie uczestniczyły w zajęciach programowych i aby zajęć
        tych było jak najwięcej.
      </p>
    </div>
    <div class="question mb-4">
      <h3>
        Jaką kwotę kieszonkowego przekazać dziecku i jak ją zdeponować?
      </h3>
      <p>
        Pieniądze można przekazać w depozyt opiekunom. Powinny być wtedy zapakowane w podpisaną kopertę, najlepiej w
        nominałach 10zł, z informacją jak często i jakie kwoty mają być wydawane dziecku (np.: „codziennie: 10zł, na
        wycieczkę: 30zł”). Prosimy poinformować dzieci, że wychowawca będzie miał dla nich pieniądze.
      </p>
    </div>
    <div class="question">
      <h3>
        Gdzie odbywa się wydarzenie?
      </h3>
      <div class="map-div col-12 col-xxl-8 mx-auto">
        <iframe
            class="map col-12"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.0916099786327!2d21.012444415473652!3d52.24171966456784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd8f6ce837a5%3A0x5f84510514ebb4b2!2sRaffles%20Europejski%20Warszawa!5e0!3m2!1spl!2spl!4v1653743106601!5m2!1spl!2spl">
        </iframe>
      </div>
    </div>
  </div>
</div>
