<div class="container-fluid bg-dark text-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Obóz TikTokerów</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse show" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/quiz" routerLinkActive="active">Jakim typem tiktokera jesteś</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/rodzice" routerLinkActive="active">Informacje dla rodziców</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="container bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span>© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="https://tiktok.com" class="socialmedia-tiktok">
          <fa-icon class="fa-4x" [icon]="['fab', 'tiktok']"></fa-icon>
        </a>
      </li>
      <li class="ms-3">
        <a href="https://facebook.com" class="socialmedia-facebook">
          <fa-icon class="fa-4x" [icon]="['fab', 'facebook']"></fa-icon>
        </a>
      </li>
      <li class="ms-3">
        <a href="https://instagram.com" class="socialmedia-instagram">
          <fa-icon class="fa-4x" [icon]="['fab', 'instagram']"></fa-icon>
        </a>
      </li>
    </ul>
  </footer>
</div>
