<div class="min-vh-100 d-flex flex-column justify-content-between bg-dark text-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Obóz TikTokerów</a>
      <button aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link" fragment="quiz" routerLink="/quiz" routerLinkActive="active">Jakim typem
              tiktokera jesteś</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/rodzice" routerLinkActive="active">Informacje dla rodziców</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="container bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span>© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="socialmedia-tiktok" href="https://tiktok.com">
          <fa-icon [icon]="['fab', 'tiktok']" class="fa-2x"></fa-icon>
        </a>
      </li>
      <li class="ms-3">
        <a class="socialmedia-facebook" href="https://facebook.com">
          <fa-icon [icon]="['fab', 'facebook']" class="fa-2x"></fa-icon>
        </a>
      </li>
      <li class="ms-3">
        <a class="socialmedia-instagram" href="https://instagram.com">
          <fa-icon [icon]="['fab', 'instagram']" class="fa-2x"></fa-icon>
        </a>
      </li>
    </ul>
  </footer>

</div>
