<div class="container-fluid bg-dark text-center text-light">
  <section class="container d-flex flex-column col-xxl-4 col-lg-8 col-md-8">
    <div class="img-fluid">
      <img alt="Logo" class="img-fluid" id="logo" src="assets/tiktok-logo.png">
    </div>
    <a class="btn btn-danger block-center mt-4" href="#form" id="check-in-btn">Zapisz się już teraz</a>
  </section>

  <article class="container col-lg-4">
    <h1 class="text-danger my-4">Zapoznaj się z naszą ofertą</h1>
    <article class="feature">
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" class="img-fluid">
      </figure>
      <h3 class="text-danger">Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id
        illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
      </p>
    </article>

    <article class="feature">
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" class="img-fluid">
      </figure>
      <h3 class="text-danger">Wiele możliwości.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id
        illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
      </p>
    </article>

    <article class="feature">
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" class="img-fluid">
      </figure>
      <h3 class="text-danger">Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id
        illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
      </p>
    </article>

    <article class="feature">
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" class="img-fluid">
      </figure>
      <h3 class="text-danger">Lorem ipsum dolor sit amet.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id
        illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
      </p>
    </article>

  </article>

  <app-form></app-form>
</div>
