<div class="container-fluid bg-dark text-center text-light">
  <section class="container d-flex flex-column col-lg-8 col-md-8">
    <div class="img-fluid">
      <img alt="Logo" class="img-fluid" id="logo" src="assets/tiktok-logo.png">
    </div>
    <div class="mx-auto">
      <a class="btn btn-danger block-center mt-4 p-3" href="#form" id="check-in-btn">Zapisz się już teraz</a>
    </div>
  </section>

  <article class="container col-lg-7">
    <h1 class="text-danger my-4">Zapoznaj się z naszą ofertą</h1>
    <div class="features d-flex flex-column">

      <article class="feature d-flex">
        <div class="row">
          <div class="col-md-6 left-panel">
            <img alt="text" class="img-fluid" src="assets/dummy-img.png">
          </div>
          <div class="col-md-6 right-panel my-auto">
            <h3 class="text-danger">1. Lorem ipsum dolor sit amet.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque
              eius
              id
              illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
            </p>
          </div>
        </div>
      </article>

      <article class="feature d-flex">
        <div class="row">
          <div class="col-md-6 left-panel">
            <img alt="text" class="img-fluid" src="assets/dummy-img.png">
          </div>
          <div class="col-md-6 right-panel my-auto">
            <h3 class="text-danger">2. Lorem ipsum dolor sit amet.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque
              eius
              id
              illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
            </p>
          </div>
        </div>
      </article>

      <article class="feature d-flex">
        <div class="row">
          <div class="col-md-6 left-panel">
            <img alt="text" class="img-fluid" src="assets/dummy-img.png">
          </div>
          <div class="col-md-6 right-panel my-auto">
            <h3 class="text-danger">3. Lorem ipsum dolor sit amet.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque
              eius
              id
              illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
            </p>
          </div>
        </div>
      </article>

      <article class="feature d-flex">
        <div class="row">
          <div class="col-md-6 left-panel">
            <img alt="text" class="img-fluid" src="assets/dummy-img.png">
          </div>
          <div class="col-md-6 right-panel my-auto">
            <h3 class="text-danger">4. Lorem ipsum dolor sit amet.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque
              eius
              id
              illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
            </p>
          </div>
        </div>
      </article>

    </div>
  </article>

  <app-form id="form"></app-form>
</div>
