<div class="container-fluid bg-dark text-center text-light">
  <img src="assets/tiktok-logo.png" alt="Logo" class="img-fluid" id="logo">
  <a class="btn btn-danger block-center" id="check-in-btn" href="#form">Zapisz się już teraz</a>

  <div class="container">
    <div class="feature">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" height="400">
      </figure>
      <aside>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
        </p>
      </aside>
    </div>

    <div class="feature">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" height="400">
      </figure>
      <aside>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
        </p>
      </aside>
    </div>

    <div class="feature">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" height="400">
      </figure>
      <aside>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
        </p>
      </aside>
    </div>

    <div class="feature">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <figure>
        <img src="assets/dummy-img.png" alt="Works with any editor" height="400">
      </figure>
      <aside>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet beatae consequatur dolore eaque eius id illo, ipsum odio quas! Dicta et fugit porro quasi saepe ullam vitae voluptate voluptates.
        </p>
      </aside>
    </div>
  </div>

  <div id="form">
    Formularz
  </div>
</div>
