.hero {
  background-image: url("../../assets/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  text-align: left;
  overflow-x: hidden;
}

.hero-content {
  padding: 80px 0;
}

.container-fluid {
  padding: 0;
}

.title {
  margin: 0 0 10px 0;
  text-align: left;
}

.title h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
  font-family: Lato, sans-serif;
  color: #fff;
}

.title h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: #fff;
}

.title h1 img {
  height: 100px;
}

.entry p {
  font-size: 24px;
  font-family: Lato, sans-serif;
}

.title a {
  font-size: 24px;
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  .hero {
    background-position: 50% 50%;
  }

  .hero-content {
    padding: 20px 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }

  .title h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    color: #fff;
  }

  .title h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    font-family: Lato, sans-serif;
    color: #fff;
  }

  .title h1 img {
    height: 50px;
  }

  .entry p {
    font-size: 18px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
  }

}

@media screen and (min-width: 768px) {
  .feature:nth-child(odd) .row div:first-child {
    order: 2;
  }

  .feature:nth-child(odd) .row div:last-child {
    order: 1;
  }
}

.feature {
  margin-top: 50px;
}

.feature h3 {
  text-transform: uppercase;
}

.feature img {
  width: 85%;
  height: auto;
}

ul {
  list-style: none;
}
