p, span {
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  /*color: rgb(220, 53, 69);*/
  color: #ff004f;
}

/* Disable text selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.color-red {
  color: #ff004f;
}

.color-red-hover:hover, .color-red-hover:active {
  color: #e50042;
}

.bgcolor-red {
  background-color: #ff004a;
}

button.bgcolor-red:hover, button.bgcolor-red:focus, a.bgcolor-red:hover, a.bgcolor-red:focus, span.bgcolor-red:hover, span.bgcolor-red:focus {
  background-color: #e50042;
}

.color-blue {
  color: #01f7ef;
}

.bgcolor-blue {
  background-color: #01f7ef;
}
